In [26]:
import pandas as pd
import numpy as np
import json, re

In [27]:
with open('qu.json', 'r') as f:
    all_dis = re.sub(', "NAMECN": ".*?"', '', f.read())
    all_dis = json.loads(all_dis)

In [29]:
reform = {(level1_key, level2_key, level3_key): values

for level1_key, level2_dict in all_dis.items()

for level2_key, level3_dict in level2_dict.items()

for level3_key, values in level3_dict.items()}

In [35]:
test = pd.DataFrame(reform).T

In [37]:
test.head()

             AREAID
北京 北京 北京  101010100
      海淀  101010200
      朝阳  101010300
      顺义  101010400
      怀柔  101010500

In [43]:
test.loc['广东', '汕头', '潮阳']['AREAID']

'101280502'

In [45]:
test.to_excel('/Users/wei/workspace/天气/qu.xlsx')